body{
	color: red;
	background-image: url(frback4.jpg);
	background-color:cover;
	background-repeat: no-repeat;
	background-size: cover;
}
/*******LARGE DEVICES*******/
@media (min-width: 1200px){
	body{

	}

h1{
	color: red;
	size: 20px;
}

.btn1{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn2{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn3{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn4{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn5{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn6{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn7{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn8{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn9{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn10{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
/*
.btn11{
	color: red;
	background-color: yellow;
}
.btn12{
	color: red;
	background-color: yellow;
}
*/
}
/*******MEDIUM DEVICES*******/
@media(min-width: 992px) and (max-width: 1199px) {
	body{

	}
	h1{
	color: red;
	size: 20px;
}

.btn1{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn2{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn3{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn4{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn5{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn6{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn7{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn8{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn9{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
.btn10{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 345px;
}
/*
.btn11{
	color: red;
	background-color: yellow;
}
.btn12{
	color: red;
	background-color: yellow;
}
*/

}
/*******SMALL DEVICES*******/
@media(min-width: 768px) and (max-width: 991px) {
	body{

	}
	h1{
	color: red;
	size: 20px;
}

.btn1{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn2{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn3{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn4{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn5{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn6{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn7{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn8{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn9{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
.btn10{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 245px;
}
/*
.btn11{
	color: red;
	background-color: yellow;
}
.btn12{
	color: red;
	background-color: yellow;
}
*/

}
/******EXTRA SMALL DEVICES*******/
@media(max-width: 767px) {
	body{

	}
	h1{
	color: red;
	size: 20px;
}

.btn1{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn2{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn3{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn4{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn5{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn6{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn7{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn8{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn9{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
.btn10{
	color: red;
	background-color: start-color: white;
	background-color: end-color:blue;
	width: 145px;
}
/*
.btn11{
	color: red;
	background-color: yellow;
}
.btn12{
	color: red;
	background-color: yellow;
}
*/
}